@font-face {
    font-family: Basic;
    src: url('font/Basic-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Basic;
}

/* navbar */
.navbar {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand span {
    padding-bottom: 29px !important;
    background-color: #020E35;
    border-bottom: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    -webkit-border-image: -webkit-linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border-image: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border-image-slice: 1;
}

.navbar-collapse a {
    font-size: 14px;
    text-transform: uppercase;
    color: black !important;
    font-weight: 400;
}

.navbar-collapse .text-white {
    color: white !important;
}

.navbar .navbar-collapse .hvr-underline-from-center::before {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border-radius: 4rem;
}

.navbar .navbar-collapse .contact .btn {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    height: 40px;
    width: 107px;
}

.navbar .navbar-collapse .contact .btn:hover {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 30%);
    color: white !important;
    /* border-radius: 40px !important; */
    /* border: 2px solid transparent;
    border-image: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border-image-slice: 1; */
}

.navbar .navbar-collapse .contact .btn:active {
    background: linear-gradient(270deg, #8b32f0 0%, #e73588 30%);
    color: rgb(255, 255, 255);
    filter: brightness(95%);
    /* filter: blur(0.6px); */
}

/* our valuable */


/* media screen */
@media screen and (max-width: 1024px) {
    .navbar .navbar-collapse {
        padding-top: 1.2rem !important;
    }
}

/*banner*/
.fn {
    position: absolute;
    width: 531px;
    height: 366px;
    left: 135px;
    top: 195px;
    
    font-family: 'Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 97px;
    line-height: 122px;
    
    color: #020E35;
    
    }
    
    .button{
      background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
      border: none;
      color: white;
      padding: 12px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 545px;
      position: absolute;
      left: 136px;
    }
    
    .images{
    position: absolute;
    width: 740px;
    height: 566px;
    left: 760px;
    top: 70px;
    }

    /*about*/
    .tab{
        position: absolute;
      width: 155px;
      height: 50px;
      left: 644px;
      top: 675px;
      
      font-family: 'Basic';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
      
      color: #020E35;
      }
      
      .line{
        position: absolute;
      width: 100px;
      height: 1px;
      left: 670px;
      top: 720px;
      
      border: 1px solid #E73587;
      }
      
      .lorem{
        position: absolute;
      width: 823px;
      height: 75px;
      left: 308px;
      top: 745px;
      
      font-family: 'Basic';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      
      color: #2B2B2B;
      }