@font-face {
    font-family: Basic;
    src: url('font/Basic-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Basic;
}

body {
    background: linear-gradient(180deg, white 0%, white 56%, #020E35 30%, #020E35 100%);
}

.navbar {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand span {
    padding-bottom: 29px !important;
    background-color: #020E35;
    border-bottom: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    -webkit-border-image: -webkit-linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border-image: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border-image-slice: 1;
}

.navbar-collapse a {
    font-size: 14px;
    text-transform: uppercase;
    color: black !important;
    font-weight: 400;
}

.navbar-collapse .text-white {
    color: white !important;
}

.navbar .navbar-collapse .hvr-underline-from-center::before {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    border-radius: 4rem;
}

.navbar .navbar-collapse .contact .btn {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    height: 40px;
    width: 107px;
}

.navbar .navbar-collapse .contact .btn:hover {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 30%);
    color: white !important;
}

.navbar .navbar-collapse .contact .btn:active {
    background: linear-gradient(270deg, #8b32f0 0%, #e73588 30%);
    color: rgb(255, 255, 255);
    filter: brightness(95%);
}

.banner {
    padding-top: 80px;
    padding-bottom: 100px;
}

.banner .banner-desc {
    margin-top: 120px;
}

.banner .banner-desc h2 {
    color: #020E35;
    font-weight: 400;
    font-size: 80px;
}

.banner .banner-desc button {
    width: 140px;
    height: 40px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    font-size: 12px;
    font-weight: 400;
}

.banner .banner-desc button:hover {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 30%);
    color: white !important;
}

.banner .banner-desc button:active {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 30%);
    color: white !important;
    filter: brightness(95%);
}

.banner img {
    width: 740px;
    height: 566px;
}

.modal-home h1 {
    font-weight: 400;
    color: #020E35;
}

.modal-home .modal-lg {
    height: 30rem !important;
}

.modal-home .carousel-inner img {
    height: 30rem !important;
    filter: brightness(60%);
}

.modal-home .carousel-inner img:hover {
    filter: blur(2px) brightness(45%);
}

.about .row {
    margin-left: -24px;
}

.about .title-sec {
    width: 76%;
}

.about h2 {
    font-size: 40px;
    font-weight: 400;
    color: #020E35;
}

.about .line {
    width: 10%;
    border-bottom: 4px solid #E73587;
    border-radius: 4rem;
}

.about .desc-sec {
    color: #020E35;
    font-size: 20px;
    font-weight: 400;
    width: 76%;
}

.service {
    padding-top: 25px;
    padding-bottom: 120px;
    background: linear-gradient(180deg, white 57.5%, #020E35 42.5%);
}

.service h2 {
    font-size: 40px;
    font-weight: 400;
    color: #020E35;
}

.service .line {
    width: 33%;
    border-bottom: 4px solid #E73587;
    border-radius: 4rem;
}

.service .card {
    width: 23rem;
    height: 533px;
}

.service .card p {
    color: #2B2B2B;
    font-size: 17px;
    font-weight: 400;
}

.service .card img {
    height: 255px;
    width: 100%;
}

.modal-service img {
    height: 255px;
    width: 100%;
}

.modal-service p {
    text-align: justify;
    text-indent: 0.5in;
}

.modal-service .modal-footer button {
    height: 38px;
    width: 130px;
    color: white !important;
    font-weight: 400;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
}

.modal-service .modal-footer button:hover {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 40%);
}

.modal-service .modal-footer button:active {
    color: white !important;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 40%);
    filter: brightness(95%);
}

.left-arrow {
    position: absolute;
    top: 45%;
    left: -50px;
    font-size: 25px;
    z-index: 1;
    height: 50px;
    width: 50px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    padding-top: 10px;
    padding-right: 2px;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 45%;
    right: -50px;
    font-size: 25px;
    z-index: 1;
    height: 50px;
    width: 50px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    padding-top: 10px;
    padding-left: 2px;
    cursor: pointer;
}

.left-arrow:hover,
.right-arrow:hover {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 40%);
}

.left-arrow:active,
.right-arrow:active {
    color: white !important;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 40%);
    filter: brightness(95%);
}

.service .read-more button {
    margin-top: 35px;
    height: 38px;
    width: 130px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
}

.service .read-more button:hover {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 40%);
}

.service .read-more button:active {
    color: white !important;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 40%);
    filter: brightness(95%);
}

.slick-dots {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%)
}

.slick-dots li {
    display: inline-block;
    margin: 0px 10px;
}

.slick-dots li button {
    font-size: 0;
    height: 10px;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: none;
}

.slick-dots .slick-active button {
    background-color: white;
    height: 15px;
    width: 15px;
}

.ourWork {
    background-color: #020E35;
}

.ourWork .line {
    width: 65%;
    border-bottom: 4px solid #E73587;
    border-radius: 4rem;
}

.ourWork h2 {
    font-size: 40px;
    font-weight: 400;
}

.ourWork .img-content {
    max-width: 550px;
    height: 390px;
}

.ourWork img {
    width: 433px;
    height: 390px;
    position: relative;
}

.img-content {
    position: relative;
    overflow: hidden;
}

.zoom {
    transition: transform .5s ease;
}

.img-content:hover .zoom {
    transform: scale(1.1);
}

.ourWork button {
    width: 140px;
    height: 40px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    font-size: 12px;
    color: white !important;
    font-weight: 400;
}

.ourWork button:hover {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 30%);
    color: white !important;
}

.ourWork button:active {
    border: none;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 30%);
    color: white !important;
    filter: brightness(95%);
}

.collapsing {
    transition: height .60s ease-in-out !important;
}

.modal-brand-img .modal-lg {
    max-width: 44rem !important;
}

#brand3 img {
    max-width: 27rem !important;
    height: 460px !important;
}

.modal-brand-img .modal-content img {
    max-width: 100% !important;
    height: 490px !important;
}

.newsletter {
    background-color: white;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.newsletter h2 {
    font-size: 30px;
    font-weight: 400;
    color: #020E35;
}

.newsletter h3 {
    font-size: 90px;
    font-weight: 400;
    color: #020E35;
}

.newsletter .hear {
    color: #E73587;
}

.newsletter label {
    font-size: 16px;
    font-weight: 400;
    color: #2C3241;
}

.newsletter button {
    height: 55px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.newsletter button:hover {
    color: white;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 30%);
}

.newsletter button:active {
    color: white !important;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 30%);
    filter: brightness(95%);
}

.footer h6 {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .navbar .navbar-collapse {
        padding-top: 1.2rem !important;
    }

    .modal-home .carousel-inner img {
        height: 20rem !important;
    }

    .modal-home .d-none {
        display: inline !important;
    }

    .modal-brand-img .modal-lg {
        max-width: 100% !important;
    }

    #brand3 img {
        max-width: 20rem !important;
        height: 20rem !important;
    }
    
    .modal-brand-img .modal-content img {
        max-width: 100% !important;
        height: 20rem !important;
    }
    
    .left-arrow {
        position: absolute;
        top: 45%;
        left: -8px;
        font-size: 25px;
        z-index: 1;
        height: 50px;
        width: 50px;
        background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
        color: white;
        border-radius: 50%;
        border: 2px solid white;
        text-align: center;
        padding-top: 10px;
        padding-right: 2px;
        cursor: pointer;
    }
    
    .right-arrow {
        position: absolute;
        top: 45%;
        right: -8px;
        font-size: 25px;
        z-index: 1;
        height: 50px;
        width: 50px;
        background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
        color: white;
        border-radius: 50%;
        border: 2px solid white;
        text-align: center;
        padding-top: 10px;
        padding-left: 2px;
        cursor: pointer;
    }

    .slick-dots li {
        margin: 0px 8px;
    }

    .ourWork .img-content {
        max-width: 450px;
        height: 290px;
    }

    .ourWork img {
        width: 333px;
        height: 290px;
        position: relative;
    }
}